<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!--    <link rel="stylesheet" th:href="@{/css/nv.css}">-->
    <link rel="stylesheet" th:href="@{/css/luong.css}">
    <title>Document</title>
</head>

<body>
<div class=".container-fluid">
    <div class="nav_bar">
        <div class="my_team">
            QUAN LÝ NHÂN VIÊN QUÁN TRÀ SỮA
        </div>
        <div class="nav_contain">
            <ul class="nav ">
                <li class="nav-item_custom">
                    <a class="" th:href="@{/nhanvien/index}">Nhân viên</a>
                </li>
                <li class="nav-item_custom nav_selected">
                    <a class="" href="#">Lương</a>
                </li>
                <li class="nav-item_custom">
                    <a class="" th:href="@{/lich/index}">Lịch làm</a>
                </li>
                <li sec:authorize="hasRole('Q1')" class="nav-item_custom">
                    <a class="" th:href="@{/account/index}">Tài khoản</a>
                </li>
                <li id="logout">
                    <button form="form_logout" type="submit">
                        <form action="/logout" id="form_logout" style="width: auto;">
							<span sec:authentication="name" style="margin-right: 10px;">   </span>
								<p>    Đăng xuất</p>
								<i class="fa-solid fa-arrow-right-from-bracket"></i>
							</form>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div style="display: flex; justify-content: space-between;">
            <span>
                <div class="content_option">
            <p>Chức năng</p>
                    <div class="option_button">
                            <div class="button_box">
                                <button id="btn_c">Mức lương & thưởng phạt</button>
                            </div>
                            <div class="button_box">
                                <input id="search_l_text" type="text"
                                       style="border-radius: 15px; padding-left: 10px; width: auto;"
                                       placeholder="Search...">
                                <button id="search_l_btn" style="height: 27px;
                                background-color: #000;
                                color: #fff;;">Search</button>
<!--                                <button class="btn_them_bl" style="display: none;">Thêm bảng lương</button>-->
                            </div>
                        </div>
            <div class="table_select">
                <label id="chi_nhanh" for="cn_selected_l">
                    Chi nhánh:
                    <select name="slcn" id="cn_selected_l">
                        <option value="all">All</option>
                        <option th:each="lcn:${listCN}"
                                th:value="${lcn.MACN}"
                                th:text="${lcn.TENCN}"></option>
                    </select>
                </label>
                <label id="trang_thai" for="th_selected_t">
                    Tháng:
                    <select name="slcn" id="th_selected_t">
                        <option value="all">All</option>
                        <option th:each="lcn:${thang}"
                                th:value="${lcn}"
                                th:text="${lcn}"></option>
                    </select>
                </label>
                <label id="" for="" >
                    <button  id="them_l" class="hide">THÊM MỨC LƯƠNG</button>
                </label>
                <label id="" for="">
                    <button  id="them_tp" class="hide">THÊM TP</button>
                </label>

            </div>
        </div>
            </span>
            <span>
                <div id="clock"></div>
            </span>
        </div>
        <div class="content-table">

            <div class="content-table " style="margin: 0;">
<!--//////////////////////////////////////////////////////////////-->
                <div class="table_luong" style="display: none; background-color: rgb(33 37 41);">
                    <div style="display: flex;">
                        <h3 style="color: #fff;">MUC LUONG</h3>
                    </div>
                    <table class="table table-hover table-dark table-striped" style="background-color: #212529;width: 700px;">
                        <thead>
                        <tr>
                            <th>MANV</th>
                            <th>NGAY</th>
                            <th>MAVB</th>
                            <th>LUONG</th>
                            <th>GHICHU</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tbl:${listLuong}">
                            <td th:text="${tbl.MANV}">Row 1</td>
                            <td th:text="${tbl.NGAY}">Row 1</td>
                            <td th:text="${tbl.MAVBQD}">Row 1</td>
                            <td th:text="${tbl.LUONG}">Row 1</td>
                            <td th:text="${tbl.GHICHU}">Row 1</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <div class="table_cham_cong atr_table_TP" style="display: none; background-color: rgb(33 37 41);">
                    <h3 style="color: #fff;">BANG THUONG PHAT</h3>
                    <table class="table table-hover table-dark table-striped" style="background-color: #212529; width: 765px;">
                        <thead style="width: 760px;">
                        <tr>
                            <th>MANV</th>
                            <th>NGAY</th>
                            <th>LOAI</th>
                            <th>VAN BAN</th>
                            <th>TIEN</th>
                            <th>GHICHU</th>
                        </tr>
                        </thead>
                        <tbody style="width: 760px;">
                        <tr th:each="tp:${listTP}">
                            <td th:text="${tp.MANV}"></td>
                            <td th:text="${tp.NGAY}"></td>
                            <td th:text="${tp.LOAI}"></td>
                            <td th:text="${tp.MAVB}"></td>
                            <td th:text="${tp.SOTIEN}"></td>
                            <td th:text="${tp.GHICHU}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bang_luong">
                    <table style="cellspacing: 0; cellpadding: 0; border: 0; width: 1480px;"
                           class="table table-hover table-dark table-striped">

                        <tr>
                            <td>
                                <!--                                <table cellspacing="0" cellpadding="1" border="1" width="300" >-->
                                <table style="cellspacing: 0; cellpadding: 1; border: 1px; width: 1455px;">
                                    <colgroup>
                                        <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 20%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 10%;">

                                    </colgroup>
                                    <tr style="color:white;background-color:grey">
                                        <th>MANV</th>
                                        <th>NGAY TINH LUONG</th>
                                        <th>CHINHANH</th>
                                        <th>THANG</th>
                                        <th>TONG</th>
                                        <th>THUONG</th>
                                        <th>PHAT</th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:1475px; height:424px; overflow:auto;">
                                    <table style="cellspacing: 0; cellpadding: 1; border: 1px; width: 1455px;"
                                           class="table table-hover table-dark table-striped" id="row_l">

                                        <tbody>
                                        <colgroup>
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 30%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 20%;">
                                            <col span="1" style="width: 10%;">
                                            <col span="1" style="width: 10%;">

                                        </colgroup>
                                        <!-- <tr th:each="l:${listL}" th:cn_s="${l.chinhanh}" th:d_s="${l.thang}" th:manv="${l.manv}">
                                            <td th:text="${l.manv}"></td>
                                            <td th:text="${l.hoten}"></td>
                                            <td th:text="${l.chinhanh}"></td>
                                            <td th:text="${l.thang}"></td>
                                            <td th:text="${l.tong}"></td>
                                            <td th:text="${l.thuong}"></td>
                                            <td th:text="${l.phat}"></td>
                                        </tr> -->
										<tr th:each="l:${listL}" th:cn_s="${l.getCHINHANH()}" th:d_s="${l.getTHANG()}" th:manv="${l.getMANV()}">
                                            <td th:text="${l.getMANV()}"></td>
                                            <td th:text="${l.getNGAY()}"></td>
                                            <td th:text="${l.getCHINHANH()}"></td>
                                            <td th:text="${l.getTHANG()}"></td>
                                            <td th:text="${l.getTONG()}"></td>
                                            <td th:text="${l.getTHUONG()}"></td>
                                            <td th:text="${l.getPHAT()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
<!--/////////////////////////////////////////////////////////-->
            </div>
        </div>
    </div>
</div>


<div id="modal_l" class="hide_modal">
    <div class="modal_nv_content" style="width: 600px;">
        <div class="modal_nv_header">
            <div class="modal_nv_header_title">
                <p>Lương</p>
            </div>
            <div class="modal_nv_header_close btn_close_l">
                <i class="fa-solid fa-times"></i>
            </div>
        </div>
        <div class="modal_l_body">
            <div class="form_nv">
                <form th:action="@{/luong/saveL}" class="row" id="form_l" method="post" style="margin-left: 48px;">
                    <table class="col-8">
                        <colgroup>
                            <col span="1" style="width: 120px;">
                            <col span="1" style="width: 70%;">
                        </colgroup>
                        <tr>
                            <td><p style="color: #fff; width: 100px;">MANV</p></td>
                            <td>
                                <select name="manv" id="manv_l" required="required">
                                    <option th:each="cv:${listNV}" th:value="${cv.MANV}"
                                            th:text="${cv.MANV}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">MAVB :</p></td>
                            <td><input type="text" name="mavb" required="required"></td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">LUONG :</p></td>
                            <td><input type="text" name="luong" required="required"></td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">Ngày:</p></td>
                            <td>
                                <input required="required" autocomplete="off" class="form-control" id="date_dk" name="date" placeholder="MM/YYYY" type="text" style="height: 30px;width: 150px;" />
                            </td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">Ghi chú:</p></td>
                            <td>
                                <textarea style="width: 400px; padding: 0;" name="ghichu" id="" cols="5" rows="5" placeholder="Ghi chú"></textarea>
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
        <div id="modal_nv_footer" style="display: flex; justify-content: space-between;
             height: 80px; align-items: center; padding: 20px;">
            <div class="modal_nv_footer_item">
                <button form="form_l" class="btn btn-primary" id="btn_them_l" name="Add">Thêm</button>
            </div>
            <!--            <div class="modal_nv_footer_item">-->
            <!--                <button form="form_info_nv" class="btn btn-danger" id="btn_huy" name="Delete">Hủy</button>-->
            <!--            </div>-->

        </div>
    </div>
</div>
<div id="modal_tp" class="hide_modal">
    <div class="modal_nv_content" style="width: 600px;">
        <div class="modal_nv_header">
            <div class="modal_nv_header_title">
                <p>Thưởng phạt</p>
            </div>
            <div class="modal_nv_header_close btn_close_tp">
                <i class="fa-solid fa-times"></i>
            </div>
        </div>
        <div class="modal_l_body">
            <div class="form_nv">
                <form th:action="@{/luong/saveTP}" class="row" id="form_tp" method="post" style="margin-left: 48px;">
                    <table class="col-8">
                        <colgroup>
                            <col span="1" style="width: 120px;">
                            <col span="1" style="width: 70%;">
                        </colgroup>
                        <tr>
                            <td><p style="color: #fff; width: 100px;">MANV</p></td>
                            <td>
                                <select name="manv" id="manv_tp">
                                    <option th:each="cv:${listNV}" th:value="${cv.MANV}"
                                            th:text="${cv.MANV}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff; width: 100px;">LOAI</p></td>
                            <td>
                                <select name="mal" id="matp_tp" required="required">
                                    <option th:each="tp:${listLTP}" th:value="${tp.MALOAI}"
                                            th:text="${tp.TENLOAI}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">MAVB :</p></td>
                            <td><input type="text" name="mavb" required="required"></td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">SO TIEN :</p></td>
                            <td><input type="text" name="sotien" required="required"></td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">Ngày:</p></td>
                            <td>
                                <input required="required" autocomplete="off" class="form-control" id="date_d" name="date1" placeholder="MM/YYYY" type="text" style="height: 30px;width: 150px;" />
                            </td>
                        </tr>
                        <tr>
                            <td><p style="color: #fff">Ghi chú:</p></td>
                            <td>
                                <textarea style="width: 400px; padding: 0;" name="ghichu" id="" cols="5" rows="5" placeholder="Ghi chú"></textarea>
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
        </div>
        <div id="modal_nv_footer" style="display: flex; justify-content: space-between;
             height: 80px; align-items: center; padding: 20px;">
            <div class="modal_nv_footer_item">
                <button form="form_tp" class="btn btn-primary" id="btn_them" name="Add">Thêm</button>
            </div>
            <!--            <div class="modal_nv_footer_item">-->
            <!--                <button form="form_info_nv" class="btn btn-danger" id="btn_huy" name="Delete">Hủy</button>-->
            <!--            </div>-->

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" th:src="@{/js/nv.js}">


</script>
<script type="application/javascript" th:src="@{/js/luong.js}">


</script>
<script>
    /* Calendar in electricity */
    $(document).ready(function() {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container =
            $(".bootstrap-iso form").length > 0 ?
                $(".bootstrap-iso form").parent() :
                "body";
        var options = {
            format: "yyyy-mm-dd",
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    });
    /* Calendar in electricity */
    $(document).ready(function() {
        var date_input = $('input[name="date1"]'); //our date input has the name "date"
        var container =
            $(".bootstrap-iso form").length > 0 ?
                $(".bootstrap-iso form").parent() :
                "body";
        var options = {
            format: "yyyy-mm-dd",
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    });
    time()
    function btnModal() {
        let closeBtn = document.querySelector(".modal_nv_header_close")
        let btn_them = document.querySelector("#btn_them")
        closeBtn.addEventListener("click", function () {
            modal.classList.add("hide_modal")
        })
        // btn_them.nodeName = "Add";
        btn_them.textContent = "Thêm";
    }
    let search_nv = document.querySelector("#search_l_btn")
    search_nv.addEventListener("click", ()=>{
        let search_text = document.querySelector("#search_l_text").value.trim()
        allRow_l.forEach((r)=>{
            r.classList.remove("hide");
            let manv = r.getAttribute("manv")
            console.log(manv)
            console.log(search_text)
            if((search_text != '') && ((manv?manv:true) != search_text)){
                r.classList.add("hide")
            }
        })
    })
    btnModal()
</script>
<script th:inline="javascript">
    let listL = [[${listL}]]
    let thang = [[${thang}]]
    let listCC = [[${listCC}]]
    let err = [[${error}]]
    if(err == 'true'){
    	alert("Bị trùng khoá")
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Form code ends -->
<!-- included thư viện calendar -->
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<!-- end -->
</body>
</html>